Repository InoteBackup2/Inote_RestAPI, pull requests merged in 2024-06, with the labels that each got.

#11 Requêtes HTTP dynamiques
  requests.http
Labels: test

#12 mochizuki- endpointsCoherence : Endpoint URNs standardization
  src/main/java/fr/inote/inoteApi/crossCutting/constants/Endpoint.java
Labels: enhancement

#15 mochizuki-userController : add get an user by username functionnality in API
  requests.http
  src/main/java/fr/inote/inoteApi/controller/AuthController.java
  src/main/java/fr/inote/inoteApi/controller/UserController.java
  src/main/java/fr/inote/inoteApi/controller/advice/ApplicationControllerAdvice.java
  src/main/java/fr/inote/inoteApi/crossCutting/constants/Endpoint.java
  src/main/java/fr/inote/inoteApi/crossCutting/security/SecurityConfig.java
  src/main/java/fr/inote/inoteApi/dto/PublicUserRequestDto.java
  src/main/java/fr/inote/inoteApi/dto/PublicUserResponseDto.java
  src/main/java/fr/inote/inoteApi/dto/UserRequestDto.java
  src/main/java/fr/inote/inoteApi/entity/User.java
  src/main/resources/data.sql
  src/test/java/fr/inote/inoteApi/ConstantsForTests.java
  src/test/java/fr/inote/inoteApi/controller/AuthControllerTest.java
  src/test/java/fr/inote/inoteApi/controller/UserControllerTest.java
  src/test/java/fr/inote/inoteApi/integrationTest/AuthController_IT.java
  src/test/java/fr/inote/inoteApi/integrationTest/UserController_IT.java
Labels: enhancement, test

#16 mochizuki-userController : add get user & get all users functionnalities with ADMIN permissions
  requests.http
  src/main/java/fr/inote/inoteApi/controller/UserController.java
  src/main/java/fr/inote/inoteApi/crossCutting/constants/Endpoint.java
  src/main/java/fr/inote/inoteApi/crossCutting/security/SecurityConfig.java
  src/main/java/fr/inote/inoteApi/crossCutting/security/WebConfig.java
  src/main/java/fr/inote/inoteApi/dto/ProtectedUserResponseDto.java
  src/main/java/fr/inote/inoteApi/service/impl/UserServiceImpl.java
  src/main/resources/data.sql
  src/test/java/fr/inote/inoteApi/ConstantsForTests.java
  src/test/java/fr/inote/inoteApi/controller/UserControllerTest.java
  src/test/java/fr/inote/inoteApi/integrationTest/CommentController_IT.java
  src/test/java/fr/inote/inoteApi/integrationTest/UserController_IT.java
  src/test/java/fr/inote/inoteApi/service/impl/UserServiceImplTest.java
Labels: enhancement, test
